.aws-btn {
    --slider-height-percentage: 60%;
    --slider-transition-duration: 1000ms;
    --organic-arrow-thickness: 3px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 24px;
    --organic-arrow-color: rgba(0, 0, 0, 1);
    --control-button-width: 15%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --loader-bar-color: transparent;
    --loader-bar-height: 1px;
}
